extends modules/main

block vars
  - var title = 'Создание заказа';

block content
  h1 Создание заказа
  if errors.length > 0
    ul.errors-tab
      each item in errors
        li.errors-tab__item= item
  if employer
    form(name="create-order" method="post" action="/create-order" autocomplete="on")#create-order
      label(for="header") Введите заголовок заказа *
      input.text(name="header" placeholder="Заголовок..." required)
      label(for="") Введите краткое описание *
      input.text(name="info" type="text" placeholder="Описание..." required)
      label(for="") Укажите цену в рублях
      input(name="price" type="number")
      label(for="time") Укажите срок в днях
      input(name="time" type="number")
      input.btn(type="submit" value="Создать заказ")
  else
    .access-warning Это страница для пользователей являющихся заказчиками.
