extends modules/main
block vars
  - var title = 'Главная';

block content
  h1 Главная
  .content Здесь мог быть текст описывающий крутость этого сайта, но пока он не готов <br> Но уже есть возможность зайти через гит хаб

