
.item__menu {
    position: absolute;
    right: -200px;
    top: -8px;
    width: 200px;
    padding:  5px;
    background-color: #333;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}